*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{

    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(173, 172, 172), rgb(112, 111, 111));
    z-index: -1;

}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

#logo{
    grid-column: 2/3;
    font-size: 24px;
}

section{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 50%;
    width: 65%;
    object-fit: cover;
}

.hero img{
    width: 100%;
    height: 100%;
}

.headline{
    position: absolute;
    top: 90%;
    left: 10%;
    font-size: 60px;
    transform: translate(-20%, -70%);
    color: rgb(90, 88, 88);
}








